@charset "utf-8";
/*
Description: the mail css for all HTML.
Version: 1.0
Time: 2013-06-06 17:18
Author: Jensen
*/

 input[type=checkbox]{margin-right:3px;*margin-right:0}
 input[type=radio]{margin-right:3px;*margin-right:0}
.reslutTab{border-collapse:collapse;border:1px solid #c5c5c5;line-height:18px;width:100%;table-layout:fixed;}
.reslutTab td{border:1px solid #e0e0e0;text-align:left;height:23px;padding-left:3px;padding-right:3px;}
.reslutTab th{border:1px solid #B8D0D6;height:23px;padding-left:3px;padding-right:3px;text-align:left; border-color:#d0d0d0; background:#f0eff0 url(../images/grid/tableth.png) repeat-x;}
.reslutTab tr:hover{background-color:#F5F5F5;}
.reslutTab2{border-collapse:collapse;line-height:18px;width:100%;table-layout:fixed;}
.reslutTab2 td{border:1px solid #e0e0e0;text-align:left;height:23px;padding-left:3px;padding-right:3px;}
.reslutTab2 th{border:1px solid #B8D0D6;height:23px;padding-left:3px;padding-right:3px;text-align:left; border-color:#d0d0d0; background:#f0eff0 url(../images/grid/tableth.png) repeat-x;}
.reslutTab2 tr:hover{background-color:#F5F5F5;}
.reslutTab3{border-collapse:collapse;border:1px solid #c5c5c5;line-height:18px;width:100%;table-layout:fixed;}
.reslutTab3 td{border:1px solid #e0e0e0;text-align:left;height:23px;padding-left:3px;padding-right:3px;}
.reslutTab3 th{border:1px solid #B8D0D6;height:23px;padding-left:3px;padding-right:3px;text-align:left; border-color:#d0d0d0; background:#f0eff0 url(../images/grid/tableth.png) repeat-x;}
/* .reslutTab3 tr:hover{background-color:#F5F5F5;} */
.borColor{border:1px solid #8db5ce}
.input55{width:55px;line-height:16px;}
.input35{width:35px;}
.input65{width:65px;line-height:16px;}
.input75{width:75px;line-height:16px;}
.input85{width:85px;line-height:16px;}
.input120{width:120px;height:36px;font-size:14px;font-weight:bold}
.input110{width:110px;}
.input130{width:130px;}
.select110{width:110px;}
.tabLeft td,.tabLeft th{text-align:left;}
.overWidth{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.backColor{background-color:#f0f4f6}

.span-right10 span{padding-right:10px;}
.bor-top{border-top:1px dashed #ccc}
.bor-bom{border-bottom:1px dashed #ccc}

.leftFrameHeaderBotton,.leftNavSideDot{background:url(../images/layout/toggleSidebar.png) repeat-x;overflow:hidden;}
.leftFrameHeaderDisc,.leftFrameHeaderAdd{background:url(../images/accordion/accordion.png) repeat-x;overflow:hidden;}

/* wzh for top-blcok css */
.topFrame{height:40px;background-color:#102948;overflow:hidden;}
.topFrame ul li{color:#fff;margin-top:5px;}
.topFrame ul li{color:#bcd7f6;}
.topFrame ul li a:link{color:#bcd7f6;}
.topFrame ul li a:visited{color:#bcd7f6;}
.topFrameL1{padding-top:5px;font-size:16px;font-weight:bold;}
.topFrameLine{padding-left:5px;padding-right:5px;}
.topFrame a:link{color:#fff;}
.topFrame a:hover{color:#fff;text-decoration:underline;}
.topFrame a:visited{color:#fff;}
.topFrame .citys{width:220px;height:auto;padding:8px;border:1px solid #03152c;position:absolute;background-color:#fff;z-index:3999;}
.topFrame .citys ul li{float:left;margin-right:8px;}
.topFrame .citys ul li a:link,.topFrame .citys ul li{color:#03152c}
.topFrame .citys ul li a:visited{color:#03152c}

/* wzh for left-blcok css */
.leftFrame{width:197px;border:1px solid #B8D0D6;margin-top:5px;overflow-x:hidden;overflow-y:hidden;float:left;margin-left:5px;_margin-left:3px;background-color:#fff;}
.leftFrame span{display:block;padding-top:4px;overflow:hidden;}
.leftFrameBom{text-align:center;position:fixed;bottom:0;height:50px;left:14px;}
.leftFrameHeader{height:26px;background:url(../images/back-left-bg.jpg) repeat-x;text-indent:13px;cursor:pointer;margin-top:-1px;overflow:hidden;color:#3c5b88;font-weight:bold;}
.leftFrameHeaderMain{height:26px;background:url(../images/back-left-bg1.jpg) repeat-x;text-indent:13px;cursor:pointer;margin-top:-1px;overflow:hidden;color:#3c5b88;font-weight:bold;}
.leftNavBar{float:left;width:5px;_width:3px;background-color:#e5eeed;cursor:col-resize}
.leftFrameHeaderBotton{width:18px;height:20px;display:block;background-position:-3px -50px;margin-top:3px;margin-right:3px;}
.leftFrameHeaderBotton:hover{background-position:-3px -100px;}
.leftFrameHeaderAdd{width:18px;height:18px;display:block;background-position:-9px -53px;margin-top:4px;margin-right:3px;}
.leftFrameHeaderAdd:hover{background-position:-9px -78px;}
.leftFrameHeaderDisc{width:18px;height:18px;display:block;background-position:-9px -103px;margin-top:4px;margin-right:3px;}
.leftFrameHeaderDisc:hover{background-position:-9px -128px;}
.leftNavSideDot{width:18px;height:20px;display:block;background-position:-3px -150px;margin-top:3px;margin-left:1px;}
.leftNavSideDot:hover{background-position:-3px -200px;}

.leftNavSide{display:none;float:left;width:20px;border:1px solid #B8D0D6;margin-top:5px;margin-left:5px;margin-left:5px;_margin-left:3px;background-color:#fff;}

/* wzh for right-blcok css */
.main{border:1px solid #B8D0D6;overflow:hidden;overflow-x:hidden;margin-top:5px;background-color:#fff;}
.rightNotice ul{padding-left:10px;padding-top:5px;line-height:23px;background-color:#EBF0F5;padding-bottom:5px;border-bottom:1px solid #b8d0d6;}
.headerBox{padding-left:10px;padding-top:5px;line-height:23px;background-color:#EBF0F5;padding-bottom:5px;border-bottom:1px solid #b8d0d6;}
.rightControlTabs{border-top:1px solid #b8d0d6;height:28px;margin-top:1px;background:url(../images/grid/grid.png)}
.rightControlTabs ul{}

.rightContentTab1,.rightContentTab2,.rightContentTab1 s,.rightContentTab2 s{background:url("../images/grid/gridTab.png")  no-repeat transparent;display:block;overflow:hidden;}
.rightTabs{border-bottom:1px solid #b8d0d6;height:27px;position:relative;zoom:1;z-index:900;}
.rightTabs ul{line-height:25px;height:25px;}
.rightTabsMore li{text-align:center;font-weight:bold;cursor:pointer;float:left;margin-right:3px;color:#333;top:3px;position:relative;zoom:1;z-index:1000;padding-left:10px;padding-right:10px;}
.rightContentTab1{height:25px;background-position:100% 0;}
.rightContentTab2{height:25px;background-position:100% -90px;}
.rightTabs ul li s{position:absolute;left:0;top:0;z-index:1100;}
.rightContentTab1 s{width:5px;height:25px;background-position:0 -45px;}
.rightContentTab2 s{width:5px;height:25px;background-position:0 -135px;}

/* 页头选项卡切换 */
.tabPageHeader,.tabPageHeaderNavUl li,.tabPageHeaderNav-left,.tabPageHeaderNav-right,.dotLeftSelectd,.dotRightSelectd{background:url(../images/tabs/tabspage.png) repeat-x;overflow:hidden;}
.tabPageHeaderScrollL,.tabPageHeaderScrollR,.tabPageHeaderMore,.untabPageHeaderScrollL,.untabPageHeaderScrollR{background:url(../images/tabs/tabscontrol.png) repeat-x;overflow:hidden;}
.tabNavChange{position:relative;}
.tabPageHeader{display:block; height:27px;background-position:100% -450px;position:relative;}
.tabPageHeaderNav{display:block; height:27px;position:relative;margin-right:19px;}
.tabPageHeaderNavUl {display:block; height:26px; z-index:1; position:absolute;width:10000px;}
.tabPageHeaderNavUl li{float:left; display:block; height:26px; margin-left:2px; background-position:0 -100px; background-repeat:repeat-x; position:relative; cursor:pointer;}
.tabPageHeaderNavUl li.selectd{background-position:0 -400px;font-weight:bold;}
.tabPageHeaderNavUl li a.home span{text-indent:26px;}
.tabPageHeaderNavUl li a.home i{display:block;width:11px;height:11px;background:url(../images/icon-home.gif) repeat-x;float:left;position:absolute;top:7px;left:10px;}
.tabPageHeaderNavUl li a{line-height:26px;*line-height:28px;text-indent:8px;}
.tabPageHeaderNavUl li a:hover{text-decoration:none;color:#3c5b88;}
.tabPageHeaderNavUl li span {width:110px;float:left;overflow:hidden;}
.tabPageHeaderNav-left{display:block;position:absolute;left:0;top:0;width:5px;height:26px; background-position:0 0px;}
.tabPageHeaderNav-right{display:block;position:absolute;right:0;top:0;width:5px;height:26px; background-position:0 -50px;}
.dotLeftSelectd{background-position:0 -300px;}
.dotRightSelectd{background-position:0 -350px;}
.dotClose{background:url(../images/tabs/tabspage_icon.png) repeat-x;overflow:hidden;display:block;position:absolute;right:2px;top:3px;width:11px;height:11px;background-position:0 0px;z-index:1000;cursor:pointer;}
.dotClose:hover{background-position:0 -50px;}
.tabPageHeaderMores{position:absolute;right:-1px;_right:0;top:23px;border:1px solid #B8D0D6;width:170px;height:auto;background-color:#fff;z-index:1111;display:block;}
.tabPageHeaderMores{padding:1px;}
.tabPageHeaderMores li{height:23px;width:170px;cursor:pointer;line-height:23px;text-indent:10px;}
.tabPageHeaderMores li:hover{background-color:#e3ebed;}
.tabPageHeaderMores .pageSelectd{background-color:#e3ebed;font-weight:bold;}

.tabPageHeaderScrollL{display:block;position:absolute;left:0;top:1px;width:17px;height:23px; background-position:0 -50px;z-index:1000;cursor:pointer;}
.tabPageHeaderScrollR{display:block;position:absolute;right:-2px;_right:-3px;top:1px;width:17px;height:23px; background-position:0 -200px;z-index:1000;cursor:pointer;}
/*.tabPageHeaderScrollL:hover{background-position:0 0px;}*/
/*.tabPageHeaderScrollR:hover{background-position:0 -150px;}*/
.untabPageHeaderScrollL{background-position:0 -100px;}
.untabPageHeaderScrollR{background-position:0 -250px;}
.tabPageHeaderMore{display:block;position:absolute;right:0;top:1px;width:17px;height:23px; background-position:0 -350px;z-index:1000;cursor:pointer;}
.tabPageHeaderMore:hover{background-position:0 -300px;}

/* wzh for 支付中心页 */
.boxCenter{width:520px;height:300px;position:absolute;background-color:#fff;border:2px solid #5891b6;padding-bottom:5px;color:#333;}
.boxCenterHeader{border-bottom:1px dashed #ccc;background:url(../images/right-tab-hed.jpg) repeat-x;}
.boxCenterHead{width:520px;height:26px;line-height:26px;}
.payTabsWid{width:653px;}
.boxCenterAll{height:370px;overflow:auto;overflow-x:hidden;overflow-y:auto;padding-left:10px;}
.boxCenterContent{background-color:#F2F2F2;padding-left:10px;}
.boxCenterHeadLeft{float:left;font-size:12px;font-weight:bold;padding-left:10px;}
.boxCenterHeadRight{float:right;padding-right:10px;}
.boxCenterBottom{width:100%;height:35px;text-align:right;border-top:1px dashed #ccc;position:absolute;bottom:0;left:0;line-height:35px;}
.boxCenterBottom input{min-width:55px;margin-right:10px;}

/* wzh for 订单管理 */
.AllocationTicketCont{width:682px;height:385px;background-color:#fff;border:2px solid #5891b6;padding-bottom:5px;position:relative;}
.AllocationAll{height:360px;overflow:auto;overflow-x:hidden;overflow-y:auto;}
.errorTicketCont{width:682px;height:345px;background-color:#fff;border:2px solid #5891b6;padding-bottom:5px;position:relative;}
.errorAll{height:280px;overflow:auto;overflow-x:hidden;overflow-y:auto;}
.orderBoxBottom{height:32px;width:682px;text-align:right;border-top:1px dashed #ccc;padding-top:6px;padding-bottom:3px;position:absolute;bottom:0;left:0;}
.orderBoxBottom input{margin-right:8px;width:auto;height:23px;line-height:20px;min-width:55px;margin-top:3px;}

.goolAdd a,.goolModify a,.goolDel a,.goolExcel a,.goolAdd s,.goolModify s,.goolDel s,.goolExcel s{background:url("../images/grid/grid.png")  no-repeat transparent;display:block;overflow:hidden;}
/* wzh for 列表页样式*/
.topSearchShow{height:auto;padding-left:10px;padding-top:5px;line-height:23px;background-color:#EBF0F5;padding-bottom:5px;border-bottom:1px solid #b8d0d6;position:relative;zoom:1;}
.topSearchShow ul li{padding-bottom:5px;}
.topSearchShow span{color:#333;margin-right:10px;}
.rightControlGool{margin-right:10px;_margin-right:5px;}
.rightControlGool li{float:left;margin-left:5px;cursor:pointer;margin-top:3px;height:23px;padding-left:5px;padding-right:5px;position:relative;zoom:1;}
.rightControlGool li:hover{background:url("../images/grid/grid.png")  no-repeat transparent;background-position:100% -150px;}
.rightControlGool li a{line-height:23px;}
.goolAdd a{background-position:0px -696px;padding-left:19px;}
.goolModify a{background-position:0px -746px;padding-left:19px;}
.goolDel a{background-position:0px -796px;padding-left:19px;}
.goolExcel a{background-position:0px -846px;padding-left:19px;}
.rightControlGool s{width:5px;height:23px;background-position:0px -100px;padding-left:19px;position: absolute;left:0;top:0;display:none;}

/* wzh for tree css */
.tree{overflow:auto;overflow-x:hidden;}
.tree-parent:hover{background-color:#F5F5F5;}
.tree-node:hover{background-color:#F5F5F5;}
.tree-parent{background:url(../images/tree/folder.gif) no-repeat 5px center;text-indent:23px;height:22px;line-height:22px;*line-height:24px;}
.tree-node{background:url(../images/tree/tree-level.gif) no-repeat 24px center;text-indent:41px;height:22px;line-height:22px;*line-height:24px;}

/* wzh for 网络页 */
.rightAll label{width:110px;float:left;}
.rightAllBig label{width:160px;float:left;}
.rightAll p{margin-top:10px;}

.rightAll2{padding-left:20px;}
.rightAll2 label{width:110px;float:left;}
.rightAll2 p{margin-top:10px;}
.rightAllConts{padding:10px;overflow:hidden;}

.netBottom{border-top:1px solid #b8d0d6;height:35px;background-color:#f0f4f6;position:absolute;bottom:0;left:0;width:100%;}
.netBottom input{margin-left:20px;height:26px;font-size:14px;font-weight:bold;}
.netSearch{height:auto;padding-left:10px;padding-top:5px;line-height:23px;background-color:#EBF0F5;padding-bottom:5px;border-bottom:1px solid #b8d0d6;color:#333;}
.netSearch span{margin-right:12px;}
.stationAll{padding:10px;padding-top:0;overflow-x:hidden;overflow-y:auto;line-height:20px;margin-left:10px;}
.stationAll label{width:120px;float:left;text-align:left;}
.stationAll p{margin-top:10px;overflow:hidden;text-align:left;}
.stationAll p input{margin-top:1px;}

.stationAll span{margin-right:15px;}
.stationSamllLabel label{width:80px;float:left;}
.stationSamllLabel p{margin-top:5px;overflow:hidden;}
.stationSamllLabe2 label{width:100px;float:left;}
.stationSamllLabe2 p{margin-top:0;height:auto;clear:both;}
.stationSamllLabel70 label{width:70px;float:left;}
.stationSamllLabel70 p{margin-top:5px;overflow:hidden;height:26px;clear:both;}
.stationSamllLabel70 p input{margin-top:1px;}
.stationBigLabel label{width:150px;float:left;text-align:right}
.stationBigLabel p{margin-top:5px;overflow:hidden;}

.bottomMaintain{padding-left:10px;padding-right:20px;border-right:1px solid #B8D0D6}
.bottomMaintain ul{padding-left:10px}
.bottomMaintain li{font-weight:bold;margin-bottom:7px;border:1px solid #ccc;width:auto;text-indent:4px;padding-right:4px;}
.bottomMaintain li a{display:block;cursor:pointer;padding:1px;}
.bottomMaintain li:hover{background-color:#f5f5f5;}

.bottomMaintain1{padding-left:10px;}
.bottomMaintain1 ul{padding-left:10px;margin-top:10px;}
.bottomMaintain1 li{font-weight:bold;float:left;margin-right:10px;}

.websiteBorder{padding-top:10px;}
.websiteBottom{padding-left:10px;height:32px;border-top:1px dashed #ccc;line-height:32px;}
.venueMores{width:338px;border:1px solid #ccc;padding:5px 10px;line-height:25px;float:left;}

.footer{height:41px;clear:left;text-align:center;line-height:36px;}
.dialogBoxCont-copyul{margin-left:10px;margin-top:10px;line-height:23px;}
.dialogBoxCont-copyp{margin-left:10px;margin-top:5px;}

/* wzh for 分页 */
.page{text-indent:15px;height:35px;background-color:#F0F4F6;position:fixed;bottom:0;left:1px;border-top:1px solid #B7D0D5;line-height:34px;width:100%;}
.page-left{float:left;}
.sabrosus {text-align:right;margin-right:20px;float:right;}
.sabrosus a {border-right: #9aafe5 1px solid; padding-right: 5px; border-top: #9aafe5 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #9aafe5 1px solid; color: #2e6ab1; margin-right: 3px; padding-top: 2px; border-bottom: #9aafe5 1px solid; text-decoration: none}
.sabrosus a:hover {border-right: #2b66a5 1px solid; border-top: #2b66a5 1px solid; border-left: #2b66a5 1px solid; color: #000; border-bottom: #2b66a5 1px solid; background-color: lightyellow}
.pagination a:active {border-right: #2b66a5 1px solid; border-top: #2b66a5 1px solid; border-left: #2b66a5 1px solid; color: #000; border-bottom: #2b66a5 1px solid; background-color: lightyellow}
.sabrosus span.current {border-right: navy 1px solid; padding-right: 5px; border-top: navy 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; border-left: navy 1px solid; color: #fff; margin-right: 3px; padding-top: 2px; border-bottom: navy 1px solid; background-color: #2e6ab1}
.sabrosus span.disabled {border-right: #929292 1px solid; padding-right: 5px; border-top: #929292 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #929292 1px solid; color: #929292; margin-right:3px; padding-top: 2px; border-bottom: #929292 1px solid}
.pageInput{height:17px;width:30px;}
.pageBtn{width:35px;height:19px;}

/* jquery.validate.min.js 错误样式、位置 */
label.error{color: red;}

/* wzh for 新table左右拉伸样式 */
.newTable{border-top:1px solid #f0f0f0;}
.newTable td{vertical-align:top;}
.rightContHeig{padding-bottom:9px;border-bottom:1px solid #f0f0f0;}

.stationAll label.error{width:auto;}
.rightAll label.error{width:auto;}
.iemargin{margin-top:10px;*margin-top:0}

/* 弹出框页面样式 */
.boxerPageUl{padding-left:20px;padding-top:20px;}
.boxerPageUl li{float:left;width:500px;height:155px;}

/* wzh for 弹出框样式 */
.box-pop{position:relative;zoom:1;}
.box-pop span.ok,.box-pop span.fail,.box-pop span.remind,.box-pop .closeBox{background:url(../images/but_sprite.png) no-repeat transparent;overflow:hidden;display:block;}
.queding,.cancel,.box-pop-but-qx s,.box-btn-sure s,.box-btn-close s{background:url(../images/button/button_s.png) no-repeat transparent;overflow:hidden;display:block;}
.box-pop-infos{margin:80px auto 0 auto;}
.box-pop-infosize{font-size:14px;}
.box-pop span.ok{ width:37px; height:37px; background-position:-82px -5px;float:left; display:block;overflow:hidden; padding:0; margin-right:10px;}
.box-pop span.fail{ width:37px; height:37px; background-position:-44px -5px; float:left; display:block; padding:0;margin-right:10px;}
.box-pop span.remind{ width:37px; height:37px; background-position:-5px -5px;display:block; padding:0;margin-right:10px;}
.box-pop-but{width:100%;border-top:1px dotted #cdcdcd;text-align:center;clear:both;position:absolute;bottom:0;left:0;height:31px;}
.box-pop-but a{ margin:0 auto; display:block; display:inline-block;}
.box-pop-but a:hover{color:#3c5b88;}
.queding{ width:45px; height:23px; background-position:-455px -51px;margin-left:5px;line-height:23px;font-weight:bold;text-align:center;}
.cancel{ width:45px; height:23px; background-position:-455px -51px;line-height:23px;margin-left:5px;cursor:pointer;font-weight:bold;text-align:center;}
.queding:hover{background-position:-455px -151px;}
.cancel:hover{background-position:-455px -151px;}
.box-pop-but-qx{position:relative;zoom:1;z-index:100;float:right;width:50px; margin-right:10px;_margin-right:5px;margin-top:4px;}
.box-pop-but-qx s{width:5px; height:23px; background-position:0 -1px;position:absolute;left:0;top:0;z-index:200;overflow:hidden;display:block;}

.box-btn-sure{position:relative;zoom:1;z-index:100;width:50px;text-indent:-3px;margin-right:10px;}
.box-btn-sure s{width:5px; height:23px; background-position:0 -1px;position:absolute;left:0;top:0;z-index:200;overflow:hidden;display:block;}
.box-btn-close{position:relative;zoom:1;z-index:100;width:50px;text-indent:-3px;margin-right:10px;}
.box-btn-close s{width:5px; height:23px; background-position:0 -1px;position:absolute;left:0;top:0;z-index:200;overflow:hidden;display:block;}
.box-btn-sure a:hover,.box-btn-close a:hover{color:#3c5b88;}

/* wzh for 弹出框样式 */
.box-pop2 span.ok,.box-pop2 span.fail,.box-pop2 span.remind,.box-pop2 .queding,.box-pop2 .cancel,#booking_box .submit_order,.box-pop2 .closeBox{background:url(../images/but_sprite.png)}
.box-pop2{display:none;width:468px;border:3px #5891B6 solid; padding:1px;background:#fff;}
.box-pop2-ul{height:25px; width:auto; background:#f0f0f0; color:#333;font-size:12px; display:block;position:relative;text-index:7px;overflow:hidden}
.box-pop2-span2{position:absolute;right:0;top:3px;}
.box-pop2 .closeBox{width:16px;height:16px;background-position:-162px -250px;display:block;overflow:hidden;margin-right:10px;}
.box-pop2 .c2{font-size:24px; height:51px; font-family:microsoft yahei; line-height:51px; width:468px; margin:30px auto 20px; font-weight:normal;text-align:center}
.box-pop2-but{width:439px; margin:20px auto 30px auto; border-top:1px dotted #cdcdcd; padding-top:20px; text-align:center;}
.box-pop2-but a{ margin:0 auto; display:block; display:inline-block;}
.box-pop2 .queding{ width:95px; height:34px; background-position:-161px -80px; }
.box-pop2 .cancel{ width:95px; height:34px; background-position:-161px -120px; margin-left:10px;}

/* loading dialog Stylesheet. */
.peop-load .regist-load,.peop-load-btn{background:url("http://static.228.com.cn/images/btn.png") no-repeat   transparent;}
.peop-load{width:365px;height:280px;background-color:#ffffff;color:#333333;}
.peop-load-regist{margin-left:30px;}
.peop-load-regist li p input{color:#cccccc;*line-height:2.1em;}
.peop-load-regist .nub-code{position:absolute;right:100px;top:90px;*right:100px;*top:115px;_top:115px;_right:100px;}
.peop-load-regist .regist-load{width:108px;height:34px;background-position: -154px -276px;overflow:hidden;display:block;margin-left:52px;}
.peop-load-new{border-top:1px dotted #c6c6c6;margin-top:30px;}
.peop-load-wid{width:300px;padding-top:20px;padding-left:30px;padding-bottom:20px}
.peop-load-btn{width:108px;height:34px;background-position: -168px -593px;overflow:hidden;display:block;margin-left:82px;}
.peop-pos{position:absolute;top:9px;right:28px;}
.peop-cls{width:43px;height:12px;display:block;background:url("http://static.228.com.cn/images/minpic.png") -15px -192px no-repeat  transparent;}

/* login */
.login_all{width:1128px;height:666px; background:url(../images/login_bg2.jpg);margin:0 auto;position:relative;}
.login_tabs{width:406px; height:138px;position:absolute;top:200px;left:255px;}
.login_all input{height:22px;width:150px;}
.login_tab_in{margin:30px 0 0 130px; line-height:2.8em;}
.login_tab_in td{line-height:2.8em;}
.login_bt{font-size:14px;font-weight:bold; color:#056c98;}
.login_tab_btn{margin:0 0 0 32px;}
.login_info{width:350px;height:60px;margin-left:130px;margin-top:20px;color:#333;}

/* 弹出提示信息框 */
.message-info,.message-scuess,.message-error,.message-tells,.message-tasks,.message-submit{background:url(../images/back-message3.png)}
.message-info{width:301px;height:122px;overflow:hidden;background-position:-5px -5px;position:absolute;top:0;left:45%}
.message-info-bor{border:1px solid #ccc;width:287px;height:79px;margin-top:6px;margin-left:6px;}
.message-info-bor1{border:1px solid #ee2520;width:287px;height:79px;margin-top:6px;margin-left:6px;}
.message-info-bor2{border:1px solid #f88460;width:287px;height:79px;margin-top:6px;margin-left:6px;}
.message-scuess{width:16px;height:16px;overflow:hidden;background-position:-5px -132px;display:block;float:left;}
.message-error{width:16px;height:16px;overflow:hidden;background-position:-24px -132px;display:block;float:left;}
.message-tells{width:16px;height:16px;overflow:hidden;background-position:-45px -132px;display:block;float:left;}
.message-tasks{width:16px;height:16px;overflow:hidden;background-position:-66px -132px;display:block;float:left;}
.message-info-bora{margin-left:15px;margin-top:10px;font-weight:bold;}
.message-info-borb{margin-left:15px;margin-top:13px;color:#666;width:252px;}
.message-submit{width:46px;height:23px;overflow:hidden;background-position:-311px -5px;display:block;margin-left:249px;margin-top:5px;cursor:pointer}

/* 滑动显示下拉框 */
.hoverShowBox{width:320px;height:160px;position:absolute;z-index:500;border:1px solid #B8D0D6;word-break:break-all;}
.hoverShowBoxCont{padding:5px;}

/* 等待中弹出框*/
.waitBox{display:none;width:180px;height:42px;border:2px solid #617fa5;line-height:36px;background-color:#fff;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; }

/* 对话框样式 */
.dialogBoxHeader,.dialogBoxHeader_l,.dialogBoxHeader_r,.dialogBoxHeader_b,.dialogBoxHeader_t{background:url(../images/dialog/dialogpanel2.png);overflow:hidden;}
.box-title s,.box-close,.box-close2,.box-min,.box-max,.box-max-back{background:url(../images/dialog/dialogpanel_icon.png);overflow:hidden;}
.dialogBox{width:520px;height:280px;border:1px solid #b8d0d6;border-top:0 none;background-color:#eef4f5;position:absolute;top:100px;left:100px/*-webkit-box-shadow:2px 2px 2px #dfebee;-moz-box-shadow:2px 2px 2px #dfebee;filter:progid:DXImageTransform.Microsoft.Shadow(color='#dfebee',Direction=135,Strength=3);*/}
.dialogBoxHeader{height:28px;width:100%;background-position:0 -100px;position:relative;cursor:move;}
.dialogBoxHeader_l{position:absolute;top:0;left:-1px;width:5px;height:28px;background-position:0 0;}
.dialogBoxHeader_r{position:absolute;top:0;right:-1px;width:5px;height:28px;background-position:0 -50px;}
.dialogBoxHeader_b{position:absolute;bottom:-1px;left:-1px;width:5px;height:5px;background-position:0 -150px;}
.dialogBoxHeader_t{position:absolute;bottom:-1px;right:-1px;width:5px;height:5px;background-position:0 -200px;}
.box-title{margin-left:10px;line-height:29px;font-weight:bold;padding-left:13px;}
.box-title s{position:absolute;left:10px;top:8px;width:13px;height:13px;background-position:-3px -458px;display:block;}
.box-title:hover{color:#3c5b88}
.box-ft{padding-left:5px;}
.box-pos{position:absolute;right:5px;top:0;line-height:29px;}
.box-min{width:19px;height:19px;background-position:0 -300px;text-indent:-5000px;display:block;float:right;margin-top:5px;}
.box-max{width:19px;height:19px;background-position:0 -100px;text-indent:-5000px;display:block;float:right;margin-top:5px;}
.box-max-back{width:19px;height:19px;background-position:0 -200px;text-indent:-5000px;display:block;float:right;margin-top:5px;}
.box-close{width:19px;height:19px;background-position:0 0;text-indent:-5000px;display:block;float:right;margin-top:5px;}
.box-close:hover{background-position:0 -50px;}
.box-close2{width:19px;height:19px;background-position:0 0;text-indent:-5000px;display:block;float:right;margin-top:5px;}
.box-close2:hover{background-position:0 -50px;}
.box-min:hover{background-position:0 -350px;}
.box-max:hover{background-position:0 -150px;}
.box-max-back:hover{background-position:0 -250px;}

/* 选项卡对话框样式 */
.allChangeTab{margin-left:20px;margin-top:10px;} 
.tabChange{position:relative;z-index:10;top:1px;overflow:hidden;zoom:1}
.tabChange li{float:left;cursor:pointer;background: url(../images/tabChange2.jpg);width:92px; height:25px;text-align:center;line-height:25px;margin-right:5px;overflow:hidden;}
.tabChange li.choose{background: url(../images/tabChange1.jpg);color:#315a8c;font-weight:bold;}
.tabChange1{width:520px;height:180px;border:1px solid #e2e2e2;position:relative;z-index:9;overflow:hidden;}

/* 多标签页样式 */
.showBox{width:130px;height:auto;border:1px solid #98999b;background-color:#fff;position:absolute;zoom:1;left:0;top:0;z-index:4999;display:none;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}
.showBox ul li{height:22px;text-indent:5px;line-height:22px;cursor:default;}
.showBox ul li:hover{background-color:#b9bad8;}

.dialogbottom{bottom:1px; right:1px;cursor:nw-resize;position:absolute;background-image:url(../images/dray-dot.gif);background-position:-42px -10px;width:10px;height:10px;font-size:0;}

/* 页底多标签 */
.toMinMoreUl li,.toMinMoreUl li s{background:url(../images/layout/taskbar.png);overflow:hidden;display:block;}
.toMinMore{width:100%;height:29px;background:url(../images/layout/taskbar.png) 0 0 repeat-x;position:absolute;bottom:-29px;left:0;}
.toMinMoreUl li{float:left;width:110px;height:29px;line-height:30px;overflow:hidden;background-position:-90px -100px;cursor:pointer;margin-left:2px;position:relative;zoom:1;z-index:1555;}
.toMinMoreUl li s{width:5px;height:29px;overflow:hidden;background-position:0 -50px;position:absolute;left:0;top:0;z-index:2000;}
.toMinMoreUl li:hover{background-position:-90px -200px;}
.toMinMoreUl li span{background:url(../images/tree/tree-level.gif) no-repeat 0 center;display:block;color:#fff;text-indent:20px;margin-left:5px;}
.dotCloseBottom{background:url(../images/layout/taskbar_icon.png) repeat-x;overflow:hidden;display:block;position:absolute;right:3px;top:5px;width:11px;height:11px;background-position:0 0;z-index:2100;cursor:pointer;}
.dotCloseBottom:hover{background-position:0 -50px;}
.dashedBox{width:0;height:0;position:absolute;left:0;top:0;display:none;border:1px dashed #868e91;background-color:#e1ebed;filter:alpha(opacity=40);opacity:0.4;}
.sizeBox{width:150px;height:180px;background-color:#f0c2c2;margin-top:30px;position:relative;zoom:1;float:left;margin-right:50px;}
.box-btn-search{position:absolute;right:5px;bottom:5px;width:50px;overflow:hidden;}
.homeRenew{margin-left:20px;margin-top:20px;padding-bottom:20px;}
.homebugHead{font-size:14px;font-weight:bold;margin-top:10px;}
.homebugCont{padding-left:20px;margin-top:3px;}
